/* Colors semantic - Light */
[data-theme="light"] {
  color-scheme: light;
  --primary: var(--core-indigo-40);
  --on-primary: var(--core-indigo-99);
  --primary-container: var(--core-indigo-90);
  --on-primary-container: var(--core-indigo-10);
  --secondary: var(--core-light-purple-40);
  --on-secondary: var(--core-light-purple-99);
  --secondary-container: var(--core-light-purple-90);
  --on-secondary-container: var(--core-light-purple-10);
  --tertiary: var(--core-light-blue-50);
  --on-tertiary: var(--core-light-blue-100);
  --tertiary-container: var(--core-light-blue-90);
  --on-tertiary-container: var(--core-light-blue-10);
  --on-surface: var(--core-cold-grey-10);
  --on-surface-retreat: var(--core-cold-grey-30);
  --surface-main: var(--core-cold-grey-98);
  --on-surface-muted: var(--core-cold-grey-40);
  --surface-container-highest: var(--core-cold-grey-100);
  --surface-container-high: var(--core-cold-grey-96);
  --surface-container: var(--core-cold-grey-94);
  --surface-container-low: var(--core-cold-grey-92);
  --surface-container-lowest: var(--core-cold-grey-90);
  --error: var(--core-red-40);
  --on-error: var(--core-red-99);
  --error-container: var(--core-red-90);
  --on-error-container: var(--core-red-10);
  --success: var(--core-cold-green-40);
  --on-success: var(--core-cold-green-99);
  --success-container: var(--core-cold-green-90);
  --on-success-container: var(--core-cold-green-10);
  --info: var(--core-light-blue-40);
  --on-info: var(--core-light-blue-99);
  --info-container: var(--core-light-blue-90);
  --on-info-container: var(--core-light-blue-10);
  --warning: var(--core-mustard-40);
  --on-warning: var(--core-mustard-99);
  --warning-container: var(--core-mustard-90);
  --on-warning-container: var(--core-mustard-10);
  --outline: var(--core-cold-grey-50);
  --outline-variant: var(--core-cold-grey-70);
  --outline-retreat: var(--core-cold-grey-80);
  --outline-muted: var(--core-cold-grey-80);
  --color-background-primary: var(--surface-main);
  --color-background-secondary: var(--surface-container);
  --color-background-info: var(--info-container);
  --color-text-primary: var(--on-surface);
  --color-text-secondary: var(--on-surface-retreat);
  --color-text-tertiary: var(--on-surface-muted);
  --color-text-info: var(--on-info-container);
  --color-border-secondary: var(--outline-variant);
  --color-border-tertiary: var(--outline-retreat);
  --scrim: rgba(0, 0, 0, 0.44);
  --surface-picture: var(--core-cold-grey-100);
}
