repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.0
    hooks:
      - id: ruff-check
        args: ["--fix"]
        name: lint
      - id: ruff-format
        name: format
        args: ["--diff"]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        name: leak
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.5
    hooks:
      - id: bandit
        args:
          [
            "-r",
            "-s",
            "B101,B108",
            "--",
            "agentic-backend/agentic_backend",
            "knowledge-flow-backend/knowledge_flow_backend",
          ]
        name: sast
  - repo: https://github.com/DetachHead/basedpyright-pre-commit-mirror
    rev: v1.13.0
    hooks:
      - id: basedpyright
        name: type-check-agentic
        files: ^agentic-backend/
        args: ["--project", "agentic-backend"]
      - id: basedpyright
        name: type-check-knowledge-flow
        files: ^knowledge-flow-backend/
        args: ["--project", "knowledge-flow-backend"]
