.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
  margin-top: var(--spacing-m);
  color: var(--on-surface-retreat);
}

.label {
  font: var(--font-body-medium);
  color: var(--on-surface-retreat);
}
