.button-group {
  display: flex;
  gap: var(--spacing-2xs);
  border-radius: var(--spacing-2xl);
  background-color: var(--button-group-background-color);
  padding: var(--spacing-2xs);
  width: fit-content;

  &[data-full-width="true"] {
    width: 100%;
  }
}
