.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: var(--spacing-s);
}

.grid[data-disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
}
