.userProfile {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  border-radius: var(--spacing-xs);
  background-color: var(--surface-container-highest);
  padding: 0 var(--spacing-xs) 0 var(--spacing-s);
  height: 3.5rem;
}

.userProfile > :not(.userIdentity) {
  flex-shrink: 0;
}

.userIdentity {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  min-width: 0;
  overflow: hidden;
}

.userIdentityName {
  overflow: hidden;
  color: var(--on-surface);
  font: var(--font-body-medium);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.userIdentityId {
  overflow: hidden;
  color: var(--on-surface-retreat);
  font: var(--font-body-small);
  text-overflow: ellipsis;
  white-space: nowrap;
}
