{{- if and .Values.serviceAccount.create (not .Values.serviceAccount.name) }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "agentic-bench.fullname" . }}
  labels:
{{ include "agentic-bench.labels" . | indent 4 }}
{{- end }}
