.bar {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.count {
  margin-right: var(--spacing-2xs);
  color: var(--primary);
  font: var(--font-body-medium);
  white-space: nowrap;
}
