{{- define "common-library.secrets-env" -}}
{{- if and .app.configuration_type.backend (or (eq .app.configuration_type.backend true) (eq .app.configuration_type.backend.enabled true)) }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .app.applicationName }}-env
stringData:
  .env: |
    {{- range $key, $value := .app.dotenv }}
    {{ $key }}="{{ $value }}"
    {{- end }}

{{- end }}
{{ end -}}