[project]
name = "fred-core"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
      "fastapi==0.115.6",
      "pyjwt>=2.10.1,<3.0.0",
      "duckdb>=1.3.2",
      "pandas>=2.2.2,<3.0.0",
      "pydantic>=2.5.2,<3.0.0",
]

[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
include = ["fred_core*"]

[project.optional-dependencies]
dev = ["bandit>=1.8.6", "basedpyright>=1.31.0", "ruff>=0.12.5"]
