.userAvatarContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: var(--spacing-2xs);

  > * {
    border: 2px solid var(--surface-container);
    border-radius: 50%;
  }
}
