.imageFileInputContainer {
  display: inline-block;
  position: relative;
  cursor: pointer;

  .nativeInput {
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border-width: 0;
    white-space: nowrap;

    &:focus-visible + .imageWrapper {
      outline: 2px solid var(--primary);
      outline-offset: var(--spacing-2xs);
    }
  }

  .imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-s);
    width: var(--image-width);
    height: var(--image-height);
    overflow: hidden;
  }

  .imageFileInputImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
}
