.badge {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  border-radius: var(--radius-full);
  background: var(--tertiary-container);
  padding: var(--spacing-3xs) var(--spacing-xs);
  color: var(--on-tertiary-container);
  font: var(--font-label-small-emphasized);
  user-select: none;
  white-space: nowrap;
}
